@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section {
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
    /* Smooth transition for opacity change */
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
/* color: rgba(0, 0, 0, .7); */
color: #969696 !important;
}
body{
    font-family: "Poppins", sans-serif;
    /* font-family: "Bebas Neue", sans-serif; */
    font-size: 1rem;
    height: 100vh;
    background-color: #000;
    color: #FFF !important;
}
.navbar-light .navbar-toggler-icon{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 255, 09.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
footer{
background-color: #000;
padding: 2%;
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    /* Keeps the element at the end state of the animation */
}

.animate {
    /* This class gets added via JavaScript */
    animation: fadeInLeft 1s forwards;
    /* 'forwards' keeps the element in the final state post-animation */
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 2rem;
    color: #FFF;
    background-color: #000;
}
.navbar-expand-lg .navbar-nav .nav-link .active {
    color: #FFF !important;
    font-weight: 900;
    
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #FFF !important;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link:hover{
    color: #FFF !important;
}

.navbar-expand-lg .navbar-nav .nav-link .active {
    color: #FFF !important;
    font-weight: 900;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #FFF !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link:hover {
    color: #fff !important;
}

.bg-light {
    background-color: #000 !important;
}

.img-fluid {
    width: 30% !important;
}

.sww-logo {
    width: 13%;
    margin-right: 2%;
}

/* Section */

.image-container {
    width: 100%;
    position: relative;
    height: auto;
    /* Adjust height based on content */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 30;
    width: auto;
    /* Maintain original image width */
    height: auto;
    /* Maintain original image height */
    opacity: 0;
    /* Start all images as invisible */
    transition: opacity 1s ease-in-out;
    z-index: 0;
    /* Start with a base z-index */
}


.image-container img:first-child {
    opacity: 1;
    /* Make the first image visible initially */
    z-index: 1;
}



/* Footer */
footer{
background-color: #000;
padding: 2%;
}
            .social-media{
display: flex;
width: 70%;
flex-direction: row;justify-content: flex-start;align-items: flex-start;
}
.footer_logo{
margin-left: -6%;
}
.footer_address {
text-align: right;
}
.footer_address img{
margin-right: -10%;
}

.social-media {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer_logo {
    margin-left: -6%;
}

.footer_address {
    text-align: right;
}

.footer_address img {
    margin-right: -10%;
}


.social_footer_classes {
    width: 100%;
    margin-top: 3%;
    margin-left: -80%;
}

.social-media>ul>li>a>img {
    margin-left: -74%;

}

.contact_images {
    width: 14%;
    margin-top: 3%;
}

.contact-info li {
    margin-left: -3%;
}

#Banner-section .card{
background: transparent;
transition: all ease-in-out .15s;
border: none;
color: #fff;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#Banner-section .card:hover{
background: rgb(61, 60, 60);
cursor: pointer;
transition: all ease-in-out .45s;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#Banner-section{
height: 80vh;
width: 100%;
/* background: url('./images/banner.jpeg'); */
backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
object-fit: contain;
background-position: center;
aspect-ratio: 12/9;

}



#Banner-section::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url('../images/banner.jpeg');
/* background-image: url('./images/banner.jpeg'); Replace 'background.jpg' with your actual background image */
background-size: cover;
background-position: center;
z-index: -1; /* Ensure the background is behind other content */
opacity: 0.9; /* Adjust the opacity as needed */
/* backdrop-filter: blur(500px);  */
filter: blur(8px);
}

.Textual {
    display: flex;
    height: 80vh;
    margin-left: 2%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.create,
.awesome {
    color: #fff;
    font-size: 5rem !important;
}

.typing-text {
    color: #fff;
    min-height: 200px;
    /* Adjust based on longest text */
    display: inline-block;
    /* float: left; */
    font-size: 10rem;
    font-family: "Bebas Neue", sans-serif;
    overflow: hidden;
    /* Ensures the animation doesn't overflow */
    white-space: nowrap;
    /* Prevents text from wrapping */
    border-right: 2px solid #94BBCC;
}


.footer_logo {
    width: 40%;
}

.banner-panel {
    width: 100%;
}

.footer {
    font-size: 1.2rem;
}

.social-media .bx {
    font-size: 2.4rem;
}

.customizations {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.image-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-section img {
    margin: 1%;
    width: 55%;
}

.images-with-text {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar-light .navbar-brand {
    color: #FFF;
}

.common-heading {
    border-bottom: 4px solid #94BBCC;
    margin-bottom: 5%;
}

.common-button {

    border: none;
    background-color: #94BBCC;
    padding: 1%;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: all ease-in-out .2s;
}

.common-button:hover {
    color: white;
    cursor: pointer;
    background-color: #5097B3;
}

/* About Us Section */
#aboutus {
    height: auto;
    margin-top: 5%;
}

#productcat {
    height: auto;
    margin: 5%;
}

.about-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us-header {
    /* background-color: #e0e0e0; Slightly darker gray for the header */
    color: black;
    /* Black text color */
    display: inline-block;
    /* Only as wide as the content */
    padding: 10px 40px;
    /* Padding around the text */
    z-index: 2;
    text-transform: uppercase;
    font-size: 2.4rem;
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Lora", serif;
    /* font-family: "Lato", sans-serif; */
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    /* Needed for absolute positioning of the border */
}

.about-us-header::after {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    /* Position relative to the header */
    bottom: 50%;
    /* Start from the bottom, goes up to half the header's height */
    height: 27%;
    /* Half the height of the header */
    left: 0;
    /* Align to the left side of the header */
    right: 0;
    /* Align to the right side of the header */
    background-color: #cce4ee;
    /* Black background for the pseudo-border */
    z-index: -1;
    top: 50%;
}

.about-us-section p {
    font-size: 1.3rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.para-content {
    width: 100%;
    margin: 2%;
}

.dalle-image {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    /* background: #5097B3; */
    display: flex;
    padding: 4%;
    /* height: 50vh; */
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 30vh; */
    object-fit: cover;
    filter: drop-shadow(10px 10px #94BBCC);
}
.main-independent-card{
margin-right: .5%;
width: 50.5%;
display: flex;
justify-content: center;
align-items: center;
}

.first-section{
display: flex;
flex-direction: row;
}
.second-section{
display: flex;
justify-content: flex-end;
flex-direction: row;
}
.second-section .card{
width: 39%;

}
.third-section{
display: flex;
flex-direction: row;
margin-left: 1%;
}
@media (max-width: 768px) {
    .main-independent-card{
margin-right: 0%;
width: 100%;
}
.second-section .card {
width: 99%;
}
.third-section  {
flex-direction: column;
}
.third-section .card {
width: 100%;
}

    .Textual {
        display: flex;
        height: auto;
        margin-left: 2%;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
.first-section{

flex-direction: column;
}
.second-section{
flex-direction: column;
}
    .create,
    .awesome {
        color: #fff;
        font-size: 2rem !important;
    }

    .typing-text {
        color: #fff;
        min-height: 20px;
        /* Adjust based on longest text */
        display: inline-block;
        /* float: left; */
        font-size: 3rem;
        font-family: "Bebas Neue", sans-serif;
        overflow: hidden;
        /* Ensures the animation doesn't overflow */
        white-space: nowrap;
        /* Prevents text from wrapping */
        border-right: 2px solid #94BBCC;
    }

    #Banner-section {
        height: auto;
        width: 100%;
        background: url('./images/banner.jpeg');
        backdrop-filter: blur(115px);
        /* Adjust the blur intensity as needed */
        object-fit: contain;
        aspect-ratio: 12/9;
        background-position: center;

    }

    .contact-info li {
        margin-left: -3%;
    }

    .navbar-light .navbar-brand {
        width: 70%;
    }

    .para-content {
        width: 100%;
        padding: 2%;
        text-align: justify;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .swiper-slide {

        padding: 3%;
    }

    .swiper-slide img {

        width: 60%;
    }

    .common-button {
        padding: 2%;
    }

    .images-with-text {
        width: 25%;
    }

    .about-us-section p {
        font-size: .9rem;
    }

    .dalle-image {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }

    .about-us-header {
        font-size: 1.2rem;
    }

    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .col-md-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .social-media {
        width: 84%;
        margin-left: -12%;

    }

    .social-media li {
        margin: 0 10px;
        margin-top: 4%;

    }

    .footer_address {
        font-size: smaller;
    }

    .footer_logo {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: left;
        margin-top: 4%;
        margin-left: -4%;
    }

    .footer_logo img {
        width: 22%
    }

    .social-media img {
        margin-left: -2% !important;
        width: 100%;
    }

    .footer_address {
        font-size: small;
        text-align: right;
    }

    .contact-info {
        font-size: smaller;
        text-align: left;
    }

    .contact-info img {
        width: 10%;
    }

    .footer .col-md-4 {
        margin-bottom: 10px;
    }

    .footer h3 {
        font-size: 1rem;
        text-align: left;
    }
.d-flex {
    flex-direction: column;
    width: 100%;
    
}

.product-knotted-lux{
    flex-direction: column !important;
    align-items: center;

}
.justify-content-evenly{
    justify-content: center ; 
    align-items: center;
}
.card{
    margin-top: 3%;
}

.product-image-content{
    width: 60% !important;
  }
  .product-image-content img{
    width: 100% !important;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .footer_logo {
        width: 40%;
    }
}
.product-knotted-lux{
display: flex;
flex-direction: row;
/* background-image: url('../images/Dalle.jpg'); */
justify-content: space-between;
background-size: cover;
background-repeat: no-repeat;
}
.product-textual{
width: 80%;
padding: 5%;
}
.product-image-content{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 40%;
}
.product-image-content img{
  width: 60%;
}

.img-data-and-textual  img{
    width: 60%;
}
.card {
    width: auto;
    /* background: transparent; */
}

.card img {
    width: 100%;
    margin: auto;
}
.img-data-and-textual p{
   text-align: center;
}